CompileFlags:
  Add:
    - -isystemA:\Program Files (x86)\Keil_v5\ARM\ARMCLANG/include
    - -isystemA:\Program Files (x86)\Keil_v5\ARM\ARMCLANG/include/libcxx
  Remove: []
  CompilationDatabase: ./build/empty_LP_MSPM0G3507_nortos_keil
  Compiler: A:\Program Files (x86)\Keil_v5\ARM\ARMCLANG\bin\armclang.exe
